.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f7f9fc;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.header img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}

.header h1 {
  position: absolute;
  transform: translateY(-250%);
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  line-height: 1.2;
  width: 800px;
  max-width: 100%;
  white-space: pre-wrap;
  overflow: visible;
  text-overflow: ellipsis;
  background-color: rgba(0,0,0, 0.3);
  box-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
  padding: 2%;
  border-radius: 2%;
}

.header h2 {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-15%);
  font-size: 60px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  line-height: 1.2;
  width: 300px;
  max-width: 100%;
  white-space: pre-wrap;
  overflow: visible;
  text-overflow: ellipsis;
  background-color: rgba(0,0,0, 0.3);
  box-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
  padding: 2%;
  border-radius: 2%;
}

.header a {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(350%);
  font-size: 36px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  line-height: 1.2;
  width: 300px;
  max-width: 100%;
  white-space: pre-wrap;
  overflow: visible;
  text-overflow: ellipsis;
  background-color: rgb(0, 60, 238);
  box-shadow: 0px 0px 10px rgba(0,0,0, 0.2);
  padding: 2%;
  border-radius: 50px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 50px;
}

.main-content img {
  width: 50%;
  transform: translateX(100%);
}

.blurb {
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  transform: translateY(-97%);
}

.services,
.why-choose-us,
.visit-us,
.machines {
  margin-bottom: 50px;
}

.services h2,
.why-choose-us h2,
.visit-us h2,
.machines h2 {
  font-size: 24px;
  font-weight: 700;
  color: #4d4d4d;
  margin-bottom: 20px;
}

.services ul,
.why-choose-us ul,
.machines ul {
  padding-left: 10px;
  list-style: none;
}

.services li,
.why-choose-us li,
.machines li {
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  color: #4d4d4d;
  margin-bottom: 10px;
}