.wide {
  position: relative;
  height: 400px;
  background-image: url("src/images/Wide.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
